<section class="hero">
    <div class="def-container">
        {% set image = block.heroImage.one() %}
        {% if image|length %}
        <div class="image-container">
            <img src="{{ image.url }}" alt="{{ image.alt | default('Hero Image')}}" width="1920" height="auto">
        </div>
        {% endif %}
        {% if block.heading is not null or block.shortText is not null %}
        <div class="text-above">
            {% if block.heading is not null %}
                <h1>{{block.heading}}</h1>
            {% endif %}
            {% if block.shortText is not null %}
                <p class="rte">{{block.shortText}}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</section>